 .container {
    margin-top: 22px;
 }
 .input {
    width:100%;
    height:48px;
    background:rgba(229,237,245,1);
    box-shadow:4px 2px 8px 0px rgba(95,157,231,0.48),-4px -2px 8px 0px rgba(255,255,255,1);
    border-radius:16px;
    border:2px solid rgba(255,255,255,0.2);
    margin-bottom: 12px;
    color:rgba(126,151,184,1);
    font-size: 1.6rem;
}

.form {
    display: flex;
    flex-direction: column;
    padding: 22px;
    border-radius: 4px;    
    background:rgba(241,243,246,1) linear-gradient(136deg,#edeff3 0%,rgba(255,255,255,0.76) 100%);
	box-shadow:inset 10px 10px 15px 0px rgba(202,206,220,0.62), inset -10px -10px 15px 0px rgba(255,255,255,1);
    &>div {
        margin-bottom: 12px;
    }
}

.type {
    display: inline-block;
    margin: 6px;
    min-width: 52px;
    min-height: 52px;
    background:rgba(235,242,250,1);
    box-shadow:4px 2px 16px 0px rgba(95,157,231,0.48),-4px -2px 16px 0px rgba(255,255,255,1);
    border-radius:20px;
    border:2px solid rgba(255,255,255,0.3);
    color:rgba(126,151,184,1);
    font-size: 14px;
    text-align: center;
    line-height: 52px;

    cursor: pointer;
    &.selected {
        background: #ffffff;
    }
}

.subdued {
    color: #637381;
}

.button {
    cursor: pointer;
    margin: 22px auto;
    min-width: 240px;
    min-height: 46px;
    margin-left: auto;

    &.disabled {
        background:#637381;
    }
}

