.tabs_container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background:rgba(235,242,250,1);
    box-shadow:4px 2px 16px 0px rgba(95,157,231,0.48),-4px -2px 16px 0px rgba(255,255,255,1);
    border-radius:20px 20px 0 0;
}
.tab {
    padding: 6px;
    border-bottom: none;
    border-radius: 6px 6px 0 0 ;
    min-height: 36px;
    line-height: 36px;
    min-width: 52px;
    text-align: center;
    color: #162548;
}

.selected {
    background:#FFFFFF;
    box-shadow:7px 7px 10px 0px rgba(233, 238, 255, 0.31),-7px -7px 10px 0px rgba(255,255,255,0.5);
}