.tabs_container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tab {
    cursor: pointer;
    padding: 6px;
    border-bottom: none;
    border-radius: 6px 6px 0 0 ;
    min-height: 36px;
    line-height: 36px;
    min-width: 52px;
    text-align: center;
    color: #162548;
}

.selected {
    background:#f1f3f6;
    box-shadow:inset 4px 2px 8px 0px rgba(185, 185, 185, 0.48), -4px -2px 8px 0px white;
    border:1px solid rgba(255,255,255,0.2);
    border-bottom: 0;
}