
.page {
  padding: 0 2rem;
	max-width: 68rem;
	margin: 0 auto;
}

.container {
  position: relative;
}
  
.header {
  display: flex;
  justify-content: space-between;
  &>p {
    font-size: 1.7rem;
    font-weight: 600;
    line-height: 2.4rem;
    margin-bottom: 22px;
	  color: #637381;
  }
}

.button{
  position: fixed;
  border-radius: 100% !important;
  right:36px;
  bottom: 36px;
  width: 5.2rem;
  height: 5.2rem;
}
