.select {
    min-width: 68px;
    padding: 0 4px;
    height: 32px;
    background: white linear-gradient(136deg, #ffffff 0%, rgba(255, 255, 255, 0.76) 100%);
    box-shadow: 7px 7px 10px 0px rgba(202, 206, 220, 0.31), -7px -7px 10px 0px rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    border: none;
    font-size:11px;
    color:rgba(157,165,183,1);
  }