.navigation {
    height:58px;
    background:rgba(241,243,246,1);
    box-shadow:10px 10px 24px 0px rgba(202,206,220,0.39);

    padding: 0 36px;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    a {
        text-decoration: none;
        color: #9DA5B7;
        padding: 8px;
        margin: 0 6px;
        &:hover {
            background:rgba(255,255,255,1) linear-gradient(136deg,rgb(220, 229, 247) 0%,rgba(255,255,255,0.76) 100%);
            box-shadow:7px 7px 10px 0px rgba(202,206,220,0.31),-7px -7px 10px 0px rgba(255,255,255,0.5);
            border-radius:10px;
        }
    }
    li {

    }
}