
.page {
    padding: 0 2rem;
      max-width: 68rem;
      margin: 0 auto;
  }
  
.header {
    padding: 2rem 2rem 0;
    margin: 45px 0;
    text-align: center;
}

.section {
    font-size: 1.7rem;
    font-weight: 600;
    line-height: 2.4rem;
    margin: 0;
}

.subTitle {
	color: #637381;
    margin-right: 12px;
}

.amount {
    font-size: 2.7rem;
    font-weight: 600;
    line-height: 3.6rem;
}

.title {
    display: flex;
    justify-content: space-between;
}